

/* hafsa part */
/* services page */
* {
    margin: 0;
    padding: 0;
}
.head {
    background-color: rgba(88, 87, 87, 0.108);
    padding-top: 3vh;
    padding-left: 8vw;
    padding-bottom: 3vh;
    font-size: 15px;
}
.head > div > a {
    text-decoration: none;
    color: rgb(233,107,86);
  
}
.inside-head {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.inside-head2 {
    padding-top: 1vh;
    color: rgb(76, 75, 75);
}
.first {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#hfs > .hero {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2vw;
    padding-top: 9vh;
    padding-inline: 8vw;
    padding-bottom: 9vh;
}
.hero > .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
    /* background-color: red; */
    gap: 3vh;
    padding: 7vh 2vw;
    text-align: center;
    border: rgba(128, 128, 128, 0.481) solid 1px;
    border-radius: 5px;
    color: rgb(85,84,85);    
}
.div1 >.box1 {
    background-color: rgb(232,107,87);
    padding: 2.3vh 1.3vw;
    border-radius: 5px;
    position: relative;
}
.box1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    width: 105%;
    height: 110%;
    background-color: rgba(232, 107, 87, 0.15);
    border-radius: 12px;
    z-index: -1;
    border-radius: 5px;
}

.div1:hover {
    background-color: rgb(233,107,86);
    transition: color 1s ease-in-out ;
}
.div1:hover > .box1 {
    background-color: white;
    transition: color 1s  ease-in-out ;
    
}
.box1 svg {
    fill: white;
    transition: fill 0.7s ease-in-out ; 
}
.div1:hover > .box1 svg {
    fill: rgb(233,107,86);
}
.skills {
    align-items: center;
    color: rgb(85,84,85);
}
.skills > .h2 {
    padding-bottom: 1.5vh;
    position: relative;
    padding-bottom: 3vh;
    /* border-bottom:rgb(233,107,86) solid 5px ; */
}
.skills > .h2::before {
    content: '';
    position: absolute;
    background-color: rgb(232, 107, 87);
    bottom: 0;
    left: 40%;/*madertch 50% hit in all cases howa majaych lwst */
    width: 40%;/*tolo*/
    height: 3px;/*somk syalo*/
    transform: translate(-18%);/* ghi ktn9s mn l lbdya dylo 18%*/
}
.skills p {
    font-size: 17px;
}



/*========== i start navbar top for web site========= */
.container-parent{
    display: flex;
    justify-content: space-between;
    padding-inline: 8vw;
    background-color: #3c3c3c;
    padding-block: 1vh;
}
.child1 i{
   color: #e96b56;
}
.child1 a{
    margin-left:3px;
}
.child1 span{
    color: #f9f9f9;
    margin-left:3px;
    text-transform: capitalize;
}
.child1{
    display: flex;
    gap: 5vw;
}
.child2{
    display: flex;
    gap: 1vw;
}
.child2 i{
    color:#ababab;
}
.child1 .email:hover,.child2 i:hover, .list a:hover{
    color: #e96b56;
    cursor: pointer;
}
.child1 .email:hover{
    text-decoration: underline;
}
/* ========finish nabvar top for web site========== */
    /*=============== i start the sconde navbar in web site====== */

.sconde_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8vw;
    padding-block: 2vh;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);

}
.logo{
    border-left: 1vw solid #e96b56;
    padding-inline-start: 1vw;
    color: #545454;
    text-transform: uppercase;
}
.list{
    display: flex;
    align-items: flex-end;
    gap:5vw;
}
.list li{
    list-style-type: none;
}
.list a{
    text-decoration: none;
    text-transform: capitalize;
    color: #545454;

}
.container-logo{
    display: flex;
    align-items: center;
}

.container-parent2{
    display: flex;
}
#menu,label[for="menu"]{
    display: none;
}
    /*=============== finish the sconde navbar in web site====== */
    /*=========== i start the slide in the vrsion website ====== */

.carousel-item{
    height: 500px; 
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
}
.carousel-caption {
    bottom: 100px;
}
.carousel-caption p,.change{
    text-align: start;
}

.carousel-caption h2{
    font-size: 50px;
    font-weight: 600;
    color: #6b6b6b;
    margin-bottom: 5vh;
}
.change{
    width: 75%;
}
.carousel-caption h2 span{
    color: #e96b56;
}
.carousel-caption .btn{
    background-color: #e96b56;
    padding-block: 2vh;
    color: white;
}
    /*=========== i finish the slide in the vrsion website in page home ====== */
/*================== i start on the cards in page homer========= */

.containercard svg{
    width: 30px;
    fill: #e96b56;
}
.containercard{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.411);
    min-height: 200px;
    padding-inline-start: 1vw; 
    padding-block-start: 7vh;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
}
.containercard::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background-color: #e96b56;
    z-index: -1;
    transition: 0.5s;
}
.containercard:hover::before{
    height: 100%;
}
.containercard p{
    width: 70%;
}
.containercard h3{
    font-size: 20px;
    font-weight: 600;
}
.grandparent2{
    margin-block: 5vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-inline: 6vw;
    gap: 2vw;

}

.containercard:hover svg,.containercard:hover{
    fill: white;
    color: white;
} 
    /* ==== i finish make it the cards in page home in website ==== */

    /* ==============i start in the section three in page home======= */

.line2 svg{
    width: 25px;
    margin-bottom: 2vh;
    fill: #d9534f;
}
.line2{
    padding-inline-start: 1vw;
}
.grandparent3{
    display: flex;
    padding-inline: 6vw;
    gap: 2vw;
    margin-block: 4vh;
}
.containertext{
    width: 90%;
}

.containerimg img{
    width: 100%;
}
.line1 p{
    color: #cecece;

}
.line1 h2 {
    color: #545454;
}
.line2 p, .sentence{
    color: #464646;
}
    /* ==== i finish  section three in website ===== */



@media screen and (max-width:480px){
/*========== i start navbar top for web site========= */
    .child2{
        display: none;
    }
    .container-parent{
        justify-content: center;
        padding-inline: 2vw;
        font-size: small;
    }
/* ========finish nabvar top for mobile========== */
    

    .list{
        display: none;
    }
    .logo{
        border-left-width: 2vw ;
        padding-inline-start: 2vw;
    }
    .sconde_navbar{
        padding-inline: 4vw;
    }
    label[for="menu"] {
        display: flex;
        width: 40px;
    }
    #menu:checked~.list{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: start;
        top: 70px;
        right: 5vw;
        background-color: #ffffff;
        width: 90%;
        height: 100vh;
        padding-block: 2vh;
        gap: 5vh;
        box-shadow: -4px 0 20px rgba(0, 0, 0, 0.2);
        z-index: 999;
    }
    /*=============== finish the sconde navbar in mobile====== */
    .carousel-item img{
        height: 900px;
    }   
    .carousel-item .btn{
        padding-block: 1vh;
    }
    .carousel-caption{
        bottom: 50px;
    }
    /*=========== i finish the slide in the vrsion mobile ====== */
    /* ==== i start make it the cards in page home in mobile ==== */
    .grandparent2{
        grid-template-columns: 1fr;
        gap: 2vh;
        padding-inline: 5vw;
    }
    .containercard{
        padding-block-start: 4vh;
        padding-inline-start: 4vw;
    }
    /* ==== i finish make it the cards in page home in mobile ==== */
    /* ==== i start section three in mobile ===== */
    .grandparent3{
        flex-direction: column-reverse;
        gap: 2vh;
    }
    /* ==== i finish section three in mobile ===== */

}
/*========== hafsa part again========= */
/* services page */
* {
    margin: 0;
    padding: 0;
}

.head {
    background-color: rgba(88, 87, 87, 0.108);
    padding-top: 3vh;
    padding-left: 8vw;
    padding-bottom: 3vh;
    font-size: 15px;
}

.head>div>a {
    text-decoration: none;
    color: rgb(233, 107, 86);

}

.inside-head {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}

.inside-head2 {
    padding-top: 1vh;
    color: rgb(76, 75, 75);
}

/* Omar Part */
/* About Page */

* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px;
    max-width: 1200px;
    margin: 0 auto;
}

.about-content {
    width: 55%;
}

.about-content h2 {
    font-size: 34px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.lead {
    margin: 0 0 18px 0;
    color: #6b6b6b;
    line-height: 1.6;
}

.check-list {
    list-style: none;
    padding: 0;
    margin: 0 0 18px 0;
}

.check-list li {
    display: flex;
    gap: 14px;
    align-items: flex-start;
    padding: 8px 0;
    line-height: 1.7;
}

.check-icon {
    flex: 0 0 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.check-icon svg {
    width: 18px;
    height: 18px;
}


.clients p {
    text-align: center;

}

.clients{ 
    padding-left: 80px ;
    padding-right: 80px;


}


/* .numbers{
    background-color: #d9534f;

} */




.stroke {
    fill: none;
    stroke: #d9534f;
    stroke-width: 2.2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.fill {
    fill: #d9534f;
    opacity: 0.07;
}

.check-text {
    flex: 1;
    margin: 0;
}

.about-image img {
    width: 500px;
    object-fit: cover;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
<<<<<<< HEAD

#hfs>.hero {
=======
/*========== services page hafsaa :) ========= */
#hfs > .hero {
>>>>>>> 22702e618a85af4fa2de66b0e7cacd5febaaba32
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    padding-top: 9vh;
    padding-inline: 8vw;
    padding-bottom: 9vh;
}

.hero>.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
    /* background-color: red; */
    gap: 3vh;
    padding: 7vh 2vw;
    text-align: center;
    border: rgba(128, 128, 128, 0.481) solid 1px;
    border-radius: 5px;
    color: rgb(85, 84, 85);
}

.div1>.box1 {
    background-color: rgb(232, 107, 87);
    padding: 2.3vh 1.3vw;
    border-radius: 5px;
    position: relative;
}

.box1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    width: 105%;
    height: 110%;
    background-color: rgba(232, 107, 87, 0.15);
    border-radius: 12px;
    z-index: -1;
    border-radius: 5px;
}

.div1:hover {
    background-color: rgb(233, 107, 86);
    transition: color 1s ease-in-out;
}

.div1:hover>.box1 {
    background-color: white;
    transition: color 1s ease-in-out;

}

.box1 svg {
    fill: white;
    transition: fill 0.5s ease-in-out;
}

.div1:hover>.box1 svg {
    fill: rgb(233, 107, 86);
}

.skills {
    align-items: center;
    color: rgb(85, 84, 85);
}

.skills>.h2 {
    padding-bottom: 1.5vh;
    position: relative;
    padding-bottom: 3vh;
    /* border-bottom:rgb(233,107,86) solid 5px ; */
}

.skills>.h2::before {
    content: '';
    position: absolute;
    background-color: rgb(232, 107, 87);
    bottom: 0;
    left: 40%;
    /*madertch 50% hit in all cases howa majaych lwst fa ghi kan9rbo l3bar */
    width: 40%;
    /*tolo*/
    height: 3px;
    /*somk syalo*/
    transform: translate(-18%);
    /* ghi ktn9s mn l lbdya dylo 18%*/
}

.skills p {
    font-size: 17px;
}

.inside-last8 {
    flex-direction: column;
    color: rgb(85, 84, 85);
}

.inside-last8>p {
    color: rgba(85, 84, 85, 0.559);
    font-size: 18px;
}

.last8 {
    display: flex;
    padding: 4vh 6vw;
    gap: 2vw;
}

.im8 {
    width: 700px;
    height: 450px;
}
<<<<<<< HEAD

=======
/* progress things hhh*/
>>>>>>> 22702e618a85af4fa2de66b0e7cacd5febaaba32
.items1 {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    background-color: rgb(232, 107, 87) !important;
    border-radius: 0px;
}

.progress {
    height: 8px !important;
    border-radius: 0 !important;
}

.skills-sec {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
<<<<<<< HEAD

=======
/*finished services page :)*/

/*========== contact page hafsa :)========= */
/*contact page*/
.hero2 {
    display: flex;
    gap: 3vw;
    text-align: center;
    padding-inline: 2vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-inline: 9vw;
}
.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 80vw;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.148);
    gap: 1.4vh;
}
.call {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.148);
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 20vw;
    align-items: center;
}
.svh {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 4vw;
    padding-top: 2vh ;
    padding-bottom: 2vh;
    border-radius: 50%;
    background-color: #ffffff;
    border: rgb(232,107,87) dotted 2px;
}
.lasth {
    display: flex;
    padding: 3vh 9vw;
    gap: 2vw;
}
.formh {
    gap: 4vh;
    padding: 4vh 3vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.148);
}
.your {
    display: flex;
    justify-content: space-between;
}
.your input {
    width: 48%;
    padding: 1vh;
    outline: none;
}
#sub > input {
    width: 100%;
    padding: 1vh;
    outline: none;
}
.message-boxh {
    display: flex;
    flex-direction: column;
    gap: 2.4vh;
}
.formh input:focus {
    border: #d9534f dotted 2px;
}
.message-boxh > .msgh {
    height: 25vh;
    padding-bottom: 17vh;
    padding-left: 0.5vw;
    outline: none;
}
.div-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnh {
    padding: 1vh 1.5vw;
    border-radius: 20px;
    border: none;
    background-color: rgb(236,124,107);
}
.btnh:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.148);
    background-color: rgba(236, 124, 107, 0.945) ;
}
/*finished contact page*/

/*========== services mobile hafsa========= */
>>>>>>> 22702e618a85af4fa2de66b0e7cacd5febaaba32
@media (max-width: 480px) {
    #hfs>.hero {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        padding-top: 9vh;
        padding-inline: 6vw;
        padding-bottom: 9vh;
    }

    .skills {
        text-align: center;
    }

    .last8 {
        display: flex;
        flex-direction: column;
        padding: 4vh 6vw;
        gap: 2vw;
        font-size: small;
    }

    .im8 {
        width: 100%;
        height: 300px;
    }
}
.skills {
    text-align: center;
}
.last8 {
    display: flex;
    flex-direction: column;
    padding: 4vh 6vw;
    gap: 2vw;
    font-size: small;
}
.im8 {
    width: 100%;
    height: 300px;
}


.stats-container {
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-family: "Poppins", sans-serif;
}

.stat-box {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex: 1;

    /* After animation */
    opacity: 0;
    transform: translateY(-40px);
    animation: slideDown 0.8s ease forwards;
}

.stat-box:nth-child(1) { animation-delay: 0.1s; }
.stat-box:nth-child(2) { animation-delay: 0.25s; }
.stat-box:nth-child(3) { animation-delay: 0.4s; }
.stat-box:nth-child(4) { animation-delay: 0.55s; }

/* icons */
.icon {
    font-size: 50px;
    color: #ff6f4c;
    margin-top: 5px;
}

/* Text */
.text-group { text-align: left; }

.number {
    font-size: 48px;
    font-weight: 700;
    color: #444;
    margin-bottom: 8px;
}

.label {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    margin-bottom: 5px;
}

.desc {
    font-size: 15px;
    color: #777;
}


/* ANIMATION */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.logo {
    width: 200px;
    filter: grayscale(100%);
    transition: 0.2s;
    cursor: pointer;
}

.logo:hover {
    filter: grayscale(0%);
}

.last-about{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 100px;
padding: 20vh 10vw;
text-align: center;

}
.last-about img{
    width:80px ;
    border-radius: 50%;
}

.last-about p {
    margin: 0%;
}

.ppa{
    padding-top: 2vw;
}


.testimonials{
    padding-top: 5vw;
}

#logoCarousel{
    padding-top: 5vw;
}

.conto{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.271);
    padding: 2vh 3vw;
}