/* hafsa part */
/* services page */
* {
    margin: 0;
    padding: 0;
}
.head {
    background-color: rgba(88, 87, 87, 0.108);
    padding-top: 3vh;
    padding-left: 8vw;
    padding-bottom: 3vh;
    font-size: 15px;
}
.head > div > a {
    text-decoration: none;
    color: orange;
  
}
.inside-head {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.inside-head2 {
    padding-top: 1vh;
    color: rgb(76, 75, 75);
}

/* Omar Part */
/* About Page */



.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}

.right img{
    width: 100vh;
    padding: 80px 50px;
}

.left{
    background-color: red;
    padding-bottom: 15vh;
    padding-left: 100px;
}


.left h2 , p ,li{
   padding-left: 35px;
   padding-bottom: 20px;

}

.list i{
    color: rgb(232,107,87);
}

.list li

 li{

  list-style: none;
  padding-left: 0;
  margin-left: 0;

}


ul {
    list-style: none;
    padding:0 ;
    margin-left: 0;
}