/* hafsa part */
/* services page */
* {
    margin: 0;
    padding: 0;
}
.head {
    background-color: rgba(88, 87, 87, 0.108);
    padding-top: 3vh;
    padding-left: 8vw;
    padding-bottom: 3vh;
    font-size: 15px;
}
.head > div > a {
    text-decoration: none;
    color: rgb(233,107,86);
  
}
.inside-head {
    display: flex;
    align-items: center;
    gap: 0.2vw;
}
.inside-head2 {
    padding-top: 1vh;
    color: rgb(76, 75, 75);
}
.first {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#hfs > .hero {
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2vw;
    padding-top: 9vh;
    padding-inline: 8vw;
    padding-bottom: 9vh;
}
.hero > .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
    /* background-color: red; */
    gap: 3vh;
    padding: 7vh 2vw;
    text-align: center;
    border: rgba(128, 128, 128, 0.481) solid 1px;
    border-radius: 5px;
    color: rgb(85,84,85);    
}
.div1 >.box1 {
    background-color: rgb(232,107,87);
    padding: 2.3vh 1.3vw;
    border-radius: 5px;
    position: relative;
}
.box1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);
    width: 105%;
    height: 110%;
    background-color: rgba(232, 107, 87, 0.15);
    border-radius: 12px;
    z-index: -1;
    border-radius: 5px;
}

.div1:hover {
    background-color: rgb(233,107,86);
    transition: color 1s ease-in-out ;
}
.div1:hover > .box1 {
    background-color: white;
    transition: color 1s  ease-in-out ;
    
}
.box1 svg {
    fill: white;
    transition: fill 0.5s ease-in-out ; 
}
.div1:hover > .box1 svg {
    fill: rgb(233,107,86);
}
.skills {
    align-items: center;
    color: rgb(85,84,85);
}
.skills > .h2 {
    padding-bottom: 1.5vh;
    position: relative;
    padding-bottom: 3vh;
    /* border-bottom:rgb(233,107,86) solid 5px ; */
}
.skills > .h2::before {
    content: '';
    position: absolute;
    background-color: rgb(232, 107, 87);
    bottom: 0;
    left: 40%;/*madertch 50% hit in all cases howa majaych lwst fa ghi kan9rbo l3bar */
    width: 40%;/*tolo*/
    height: 3px;/*somk syalo*/
    transform: translate(-18%);/* ghi ktn9s mn l lbdya dylo 18%*/
}
.skills p {
    font-size: 17px;
}
.inside-last8 {
    flex-direction: column;
    color: rgb(85,84,85);
}
.inside-last8 > p {
    color: rgba(85, 84, 85, 0.559);
    font-size: 18px;
}
.last8 {
    display: flex;
    padding: 4vh 6vw;
    gap: 2vw;
}
.im8 {
    width: 700px;
    height: 450px;
}
/* progress things hhh*/
.items1 {
    display: flex;
    justify-content: space-between;
}
.progress-bar {
    background-color: rgb(232, 107, 87) !important;
    border-radius: 0px;
}
.progress {
    height: 8px !important;
    border-radius: 0 !important;
}
.skills-sec {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
/*hafsa*/
/*contact page*/
.hero2 {
    display: flex;
    gap: 3vw;
    text-align: center;
    padding-inline: 19vw;
    padding-top: 6vh;
}
.add {
    padding: 3vh 10vw;
    border: none;
    /* width: 55%; */
    /* padding-inline: 5vw; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.148);
}
@media (max-width: 480px) {
#hfs > .hero {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding-top: 9vh;
    padding-inline: 6vw;
    padding-bottom: 9vh;
    }
.skills {
    text-align: center;
}
.last8 {
    display: flex;
    flex-direction: column;
    padding: 4vh 6vw;
    gap: 2vw;
    font-size: small;
}
.im8 {
    width: 100%;
    height: 300px;
}
}